<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>{title}</title>
	<!-- Note: running this exported project from disk may not work exactly like preview, since browsers block some features on the file:// protocol.  Once you've uploaded it to a server, it should work OK. -->
	
	<!-- Allow fullscreen mode on iOS devices. (These are Apple specific meta tags.) -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="HandheldFriendly" content="true" />

    <!-- All margins and padding must be zero for the canvas to fill the screen. -->
	<style type="text/css">
		* {
			-webkit-user-select:none;
			-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
		}
    </style>
	
{cssdependencies}
</head> 
 
<body> 
	<script src="jquery-2.1.1.min.js"></script>
	
{dependencies}

	<script src=”intelxdk.js”></script>
	
    <script>
	
		function blockTouch(e)
		{
			e.preventDefault();
		};
		
		document.addEventListener("touchstart", blockTouch);
		document.addEventListener("touchmove", blockTouch);
		document.addEventListener("touchend", blockTouch);
		
		// Size the canvas to fill the browser viewport.
		function cr_sizeCanvasDC()
		{
			var w = jQuery(window).width();
			var h = jQuery(window).height();
			
			if (w === 0 || h === 0)
				return;
			
			AppMobi.canvas.execute("if (window['c2runtime']) window['c2runtime'].setSize(" + w + "," + h + ");");
		}
		
		jQuery(window).resize(function() {
			cr_sizeCanvasDC();
		});
		
		document.addEventListener("appMobi.device.ready", function ()
		{
			AppMobi.canvas.load("c2runtime.js");
			
			document.addEventListener("appMobi.device.suspend", function() {
				AppMobi.canvas.execute("window.cr_setSuspended(true);");
			}, false);
			
			document.addEventListener("appMobi.device.resume", function() {
				AppMobi.canvas.execute("window.cr_setSuspended(false);");
			}, false);
		
		}, false);
		
		function onDCLoaded()
		{
			AppMobi.canvas.execute("cr_createDCRuntime(" + jQuery(window).width() + "," + jQuery(window).height() + ");");
		};
		
		function onGameReady()
		{
			cr_sizeCanvasDC();
			AppMobi.device.hideSplashScreen();
		};
		
		function C2_AJAX_Error(tag_)
		{
			AppMobi.canvas.execute('window["C2_AJAX_DCSide"]("error", "' + tag_ + '", null);');
		};
		
		function C2_AJAX_Success(tag_, data_)
		{
			var data_replaced = data_.replace(/\\/g, '\\\\').replace(/"/g, '\\"').replace(/\n/g, '\\n');
			AppMobi.canvas.execute('window["C2_AJAX_DCSide"]("success", "' + tag_ + '", "' + data_replaced + '");');
		};
		
		function C2_AJAX_Progress(tag_, progress_)
		{
			AppMobi.canvas.execute('window["C2_AJAX_DCSide"]("progress", "' + tag_ + '", ' + progress_ + ');');
		};
		
		// Handle AJAX events from the webview side and send results back to DC side
		function C2_AJAX_WebSide(tag_, url_, method_, data_)
		{
			var request = null;
		
			var errorFunc = function () {
					C2_AJAX_Error(tag_);
				};
				
			var progressFunc = function (e) {
					if (!e["lengthComputable"])
						return;
					
					C2_AJAX_Progress(tag_, e.loaded / e.total);
				};
				
			try
			{
				request = new XMLHttpRequest();
				request.onreadystatechange = function() {
					if (request.readyState === 4 && request.status !== 0)
					{
						if (request.status >= 400)
							errorFunc();
						else
						{
							var data_ = request.responseText.replace(/\r\n/g, "\n");		// fix windows style line endings
							C2_AJAX_Success(tag_, data_);
						}
					}
				};
				request.onerror = errorFunc;
				request.ontimeout = errorFunc;
				request.onabort = errorFunc;
				request.onprogress = progressFunc;
				
				request.open(method_, url_);
				request.responseType = "text";
				
				if (method_ === "POST" && data_)
				{
					if (request["setRequestHeader"])
					{
						request["setRequestHeader"]("Content-Type", "application/x-www-form-urlencoded");
						request["setRequestHeader"]("Content-Length", data_.length);
					}
						
					request.send(data_);
				}
				else
					request.send();
				
			}
			catch (e)
			{
				errorFunc();
			}
		};
	
    </script>
</body> 
</html> 